.authorPosts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.title {
    font-size: 2.2rem;
    padding: 2rem 0 3rem 0;
    text-align: center;

}

@media (max-width: 1024px) {

    .authorPosts-container {
        gap: 4rem;
    }
}

@media (max-width: 950px) {

    .authorPosts-container {
        grid-template-columns: 1fr;
    }
}