.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

/* HeadPost css */

.head-post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding-bottom: 1rem;
    align-items: center;
    margin-bottom: 4rem;
}



.head-post-container h1 {
    color: rgb(0, 0, 0);
    font-size: 2.4rem;
    margin: 1rem auto;
    line-height: 1.4;
    color: #407088;
}

/* Post css */

.post {

    margin-top: -2rem;
    background: rgb(250, 243, 248);
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
    transition: all 0.30s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.post-image {
    border-radius: 2rem;
    overflow: hidden;
    height: 17rem;
}

.post-image img {
    aspect-ratio: 1/1;
    height: 100%;
}

.post-content {

    margin-top: 1rem;
}

.post-content h3 {
    margin: 1rem;
}

.post-footer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}


.post-author {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;

}

.post-author-image {
    width: 2.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.post-author-image img {
    aspect-ratio: 1/1;
}


.post-category {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.7rem;
    transition: all 0.30s ease-in-out;
    color: #132743;
    background-image: linear-gradient(to right, #c9c9ca, #ffb5b5);
    box-shadow: 0 4px 15px 0 rgba(200, 104, 110, 0.70);
}



.post-delete-btn {
    margin-left: 1rem;
    font-size: 0.9rem;
    background-color: #ffb5b5;
    color: #132743;
    font-weight: 200;
    box-shadow: 0 4px 15px 0 rgba(200, 104, 110, 0.70);
}

.post-delete-btn:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to right, #ffb5b5, #ffb5b5);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}


.post-delete-btn:active {
    transform: scale(0.9);
}

.cb {
    color: black;
}

@media (max-width: 1450px) {
    .head-post-container {
        gap: 2rem;

    }

    .post-container {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

@media (max-width: 1450px) {
    .head-post-container {
        gap: 2rem;

    }

    .post-container {
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

@media (max-width: 950px) {

    .head-post-container {
        grid-template-columns: 1fr;

    }

    .post-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }


}
